.bash_profile
.bashrc
.cabal/
.cargo/
.cfg/
.cpan/
.docker/
.eclipse/
.fehbg
.ghc/
.ghcup/
.gitlab/
.ipython/
.keras/
.kube/
.minikube/
.mozilla/
.node_repl_history
.npm/
.nvidia-settings-rc
.psql_history
.screenlayout/home-dual-4k-60hz.sh.old
.screenlayout/home-single-4k-60hz.sh
.skaffold/
.swt/
.vim-bookmarks
.vim/ftplugin/json.vim
.vim/plugged/
.vim/sessions/
.viminfw.tmp
.viminfy.tmp
.viminfz.tmp
.wget-hsts
.zshenv
.Xauthority
.asoundrc
.bash_history
.bash_logout
.bundle/
.cache/
.config/
.cookiecutters/
.credentials/
.drivesync/
.dropbox/
.esd_auth
.gem/
.git-credentials
.gitconfig
.gnome/
.gnupg/
.java/
.lesshst
.local/
.mono/
.oh-my-zsh.bak/
.oh-my-zsh/
.pki/
.profile
.pylint.d/
.python_history
.recently-used
.shell.pre-oh-my-zsh
.ssh/
.task/
.vim/.netrwhist
.vim/autoload/
.vim/backup/
.viminfo*
.vimrc.bak
.xinitrc.bak
.xsel.log
.yarnrc
.zcompdump-*
.zoom/
.zsh_history
.zshrc.pre-oh-my-zsh
Downloads/
bin/
dev/
audio/
books/
docs/
go/
images/
minio/
perl5/
