.PyCharm*
.Xauthority
.asoundrc
.bash_history
.bash_logout
.bundle/
.cache/
.config/
.cookiecutters/
.credentials/
.drivesync/
.dropbox/
.esd_auth
.gem/
.git-credentials
.gitconfig
.gnome/
.gnupg/
.java/
.lesshst
.local/
.mono/
.oh-my-zsh.bak/
.oh-my-zsh/
.pki/
.profile
.pylint.d/
.python_history
.recently-used
.shell.pre-oh-my-zsh
.ssh/
.task/
.vim/.netrwhist
.vim/autoload/
.vim/backup/
.vim/black/
.vim/bundle/Vundle.vim/
.vim/bundle/black/
.vim/bundle/ctrlp-py-matcher/
.vim/bundle/indentpython.vim/
.vim/bundle/papercolor-theme/
.vim/bundle/vim-flake8/
.vim/bundle/vim-gutentags/
.vim/bundle/vim-http/
.vim/bundle/vim-isort/
.vim/bundle/vim-monokai/
.vim/bundle/vim-python-pep8-indent/
.vim/bundle/vim-repeat/
.vim/bundle/vim-rhubarb/
.vim/bundle/vim-surround/
.vim/bundle/vim-tmux-navigator/
.vim/bundle/vim-unimpaired/
.vim/tmp/
.viminfo*
.vimrc.bak
.xinitrc.bak
.xsel.log
.yarnrc
.zcompdump-*
.zoom/
.zoom/
.zsh_history
.zshrc.pre-oh-my-zsh
Downloads/
bin/
dev/
