@theme "/usr/share/rofi/themes/solarized_alternate.rasi"

configuration {
 modi: "window,drun,ssh,combi";
 font: "San Francisco Display 12";
 combi-modi: "window,drun,ssh";
 show-icons: true;
 display-combi: "";
 display-run: "";
 display-drun: "";
 display-combi: "";
}

